body {
    width: 100px;
    height: 100px;
    background-color: black;
    position: relative;
    -webkit-animation-name: example;
    -webkit-animation-duration: 4s;
   
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 10s;
    animation-iteration-count: 2;
    animation-iteration-count: infinite;
}


@keyframes example {
    0%   {background-color:black; left:0px; top:0px;}
    25%  {background-color:red; left:300px; top:0px;}
    50%  {background-color:azure; left:300px; top:300px;}
    75%  {background-color:magenta; left:0px; top:400px;}
    100%  {background-color:black; left:0px; top:0px;}
    125%   {background-color:fuchsia; left:0px; top:0px;}
    150%  {background-color:blueviolet; left:400px; top:0px;}
    175%  {background-color:cyan; left:500px; top:500px;}
    200%  {background-color:seagreen; left:0px; top:500px;}
    225%  {background-color:black; left:0px; top:0px;}
}
p{ color: red; font-family: arial; font-size: 50px; font-weight: bold;}
}
p{ color: red; font-family: arial; font-size: 50px; font-weight: bold;}
