body {
    width: 100px;
    height: 100px;
    background-color: black;
    position: relative;
    -webkit-animation-name: example;
    -webkit-animation-duration: 4s;
   
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}


@keyframes example {
    10%   {background-color:black}
    10%   {background-color:orange;}
    20%  {background-color:red; }
    30%  {background-color:azure; }
    40%  {background-color:magenta; }
    50%  {background-color:black; }
    60%   {background-color:fuchsia; }
    70%  {background-color:blueviolet; }
    80%  {background-color:cyan; }
    90%  {background-color:seagreen; }
    100%  {background-color:black; }

}
p{ color: red; font-family: arial; font-size: 50px; font-weight: bold;}
p2{ color: black; font-family: lobster; font-size: 50px; font-weight: bold;}

}
p2{ color: black; font-family: monospace; font-size: 50px; font-weight: bold;}
